@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Lato", sans-serif;

}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1392px;
    margin: 0 auto;
}

.header {
    position: sticky;
    padding: 30px 0;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    z-index: 5;
    background-color: rgb(148, 127, 221);
}

.promo__container {
    max-width: 1392px;
    text-transform: uppercase;
    line-height: 1.25;
}

.promo--padding,
.benefits--padding {
    padding: 82px 0;
}

.promo__title {
    padding: 0 30.5px;
    margin-bottom: 36px;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
}

.promo__menu {
    font-size: 0;
    margin-bottom: 72px;
}

.promo__list {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.promo__item {
    display: inline-block;
}

.promo__item {
    position: relative;
    padding-bottom: 8px;
}

.promo__item:not(:last-child) {
    margin-right: 48px;
}

.promo__link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1.75px;
    background-color: #2f302c;
    transition: width 0.3s;
    visibility: hidden;
}

.promo__item:hover .promo__link::after {
    width: 100%;
    visibility: visible;
}

.promo__cards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 440px;
    flex-grow: 0;
    flex-shrink: 1;
    gap: 72px 36px;
}
.card__link-image {
    margin-bottom: 32px;
}

.card__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.card__title {
    font-weight: 500;
    font-size: 16px;
}

.card__price {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.40;
}

.benefits__container {
    max-width: 1180px;
    text-transform: uppercase;
    line-height: 1.25;
}

.benefits__title {
    margin-bottom: 72px;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
}

.benefits__items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1;
    gap: 68px;
    justify-content: center;
}

.benefits__item {
    display: flex;
    flex-basis: 348px;
    flex-direction: column;
    gap: 24px 68px;
    justify-content: center;
    align-items: center;
}

.benefits__item p {
    font-weight: 500;
    text-align: center;
    color: rgba(126, 127, 124, 1);
}

.benefits__icon {
    width: 60px;
    height: 60px;
}

.benefits__subtitle {
    margin-bottom: 24px;
    font-weight: 700;
    color: rgba(47, 48, 44, 1);
    text-align: center;
}

.footer {
    background-color: rgb(148, 127, 221);
    padding: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.25;
}