@import url("reset.css");

body {
    font-family: "Roboto", sans-serif;

}

.wrapper {
    overflow: clip;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    position: sticky;
    padding: 20px;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgb(88, 123, 235);
}

.header__title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.25;
}
.page {
    position: relative;
}
.cloud {
    position: absolute;
    z-index: 3;
    animation-name: move;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    box-shadow: inset 5px 5px 20px 10px rgba(0, 0, 0, 0.052);
    top: 10%;
    left: 60%;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(254, 254, 254, 0.9);
}
.cloud::before,
.cloud::after {
    content: "";
    box-shadow: inset 5px 5px 20px 10px rgba(0, 0, 0, 0.052);
    position: absolute;
    width: 150px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(254, 254, 254, 0.9);
    top: 25%;
}
.cloud::before {
    right: 70%;
}
.cloud::after {
    left: 70%
}
.sun {
    animation: glow 2s linear infinite alternate;
    position: absolute;
    z-index: 2;
    right: 20%;
    top: 10%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 140, 0, 0.9);
    border-radius: 50%;
    box-shadow: 0 0 20px 30px rgba(255, 255, 0, 0.7);
}
.car__conteiner {
    position: relative;
    width: 100%;
    min-height: 1000px;
    background: url("../img/road.webp") 0 0 /cover no-repeat;
}

.car__body {
    position: absolute;
    animation-name: move;
    animation-duration: 10s;
    width: 600px;
    height: 100px;
    background-color: rgb(244, 79, 9);
    top: 80%;
    left: 30%;
    outline: 5px solid rgb(86, 27, 2);
    border-radius: 30% 30% 15% 15%;
}

.car__body::after {
    content: "";
    width: 30px;
    height: 5px;
    background-color: rgb(86, 27, 2);
    position: absolute;
    left: 50%;
    top: 10%;
}

.car__body::before {
    content: "";
    position: absolute;
    left: 100.5%;
    top: 26%;
    width: 20px;
    height: 60px;
    border-radius: 0% 100% 100% 0% / 98% 48% 52% 2%;
    background-color: rgb(255, 251, 39);
    box-shadow: 0px 0px 46px 21px #ffc400ff;
}

.car-pipe {
    position: absolute;
    bottom: 15%;
    right: 100.5%;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.788);
}

.car-pipe::before {
    content: "";
    position: absolute;
    top: -180%;
    left: 20%;
    border-radius: 20%;
    background-color: rgb(203, 3, 3);
    box-shadow: -1px 1px 60px 27px #cb0000ff;
    width: 15px;
    height: 35px;
}

.car__roof {
    position: absolute;
    left: 15%;
    top: -125%;
    background-color: rgba(233, 227, 227, 0.5);
    outline: 8px solid rgb(86, 27, 2);
    width: 300px;
    height: 120px;
    border-radius: 45% 55% 100% 0% / 100% 100% 0% 0%;
}

.car__roof::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 10px;
    height: 120px;
    background-color: rgb(86, 27, 2);
}

.car__wheel {
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -30%;
    background-color: rgb(233, 227, 227);
    border-radius: 50%;
    border: 5px dashed rgb(12, 12, 12);
}

.car__wheel::after {
    content: "";
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: rgb(12, 12, 12);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.car__wheel--front {
    left: 0;
}

.car__wheel--back {
    right: 0;
}

.car__window {
    position: absolute;
    top: 15%;
    left: 60%;
    border-radius: 0% 100% 100% 0% / 98% 100% 0% 2%;
    width: 100px;
    height: 100px;

}
@keyframes glow {
    0% {
        scale: 0.8;
    }
    100% {
        scale: 1;
    }
}
@keyframes move {
    0% {
        left: 10%;
    }

    100% {
        left: 80%;
    }
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.footer {
    background-color: rgb(88, 123, 235);
    padding: 20px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.25;
}