@import url("reset.css");
@import url("fonts.css");
body{
    font-family: "Roboto", sans-serif;
   
}
.wrapper {
    overflow: clip;
    min-height: 100%;
}
.page {
    margin-left: 20px;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
}
.header {
    position: sticky;
    padding: 20px;
	top: 0;
	left: 0;
    margin-bottom: 20px;
    z-index: 5;
    background-color: rgb(207, 156, 111);
}
.header__title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.25;
}
.examples {
    max-width: 1000px;  
}
.block {
    display: inline-block;
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: rgba(213, 122, 58, 0.5);
}
.block__item {
    padding: 50px;
    width: 200px;
    height: 200px;
    background-color: rgb(210, 105, 30);
}
.block__item--first {
    translate: 20% 5%;
}
.block__item--second {
    rotate: 20deg;
}
.block__item--third {
    scale: 0.75 0.5;
}
.block__item--fourth {
    transform: skew(-20deg, 0deg);
}
.block__item--fifth {
    transform-origin: top right;
    rotate: -40deg;
}
.block3d {
    perspective: 400px;
    perspective-origin: center;
}
.block__item--3d {
    transform: rotateY(50deg);
}
.block-style {
    transform-style: preserve-3d;
}
.block__item--style {
 transform: rotateY(-50deg);
}
.card {
    display: inline-block;
    max-width: 400px;
}
.card__body {
    position: relative;
    perspective: 400px;
}
.card__back,
.card__front {
    border-radius: 15px;
    overflow: hidden;
}
.card__back {
    position: absolute;
    transform: rotateX(180deg);
    top: 0;
    left: 0;
}
.card__front {
    backface-visibility: hidden;
    transform: rotateX(0deg);
}
.card__body:hover .card__back {
    transform: rotateX(0deg);
}
.card__body:hover .card__front {
     transform: rotateX(-180deg);
}
.check {
    display: inline-block;
    margin-left: 50px;
    padding: 50px;
}
.check__body {
    position: relative;
    perspective: 400px;
}
.check__back {
    position: absolute;
    transform: rotateY(180deg);
    top: 0;
    left: 0;
    
}
.check__front {
    backface-visibility: hidden;
    transform: rotateY(0deg);
}
.check__body:hover .check__back {
    transform: rotateY(0deg);
}
.check__body:hover .check__front {
    transform: rotateY(-180deg);
}
.car {
 padding: 20px;
 margin-bottom: 20px;
}
.car__conteiner {
    position: relative;
    max-width: 100%;
    min-height: 800px;
    background: url("../img/road.webp") 0 0 / cover no-repeat;
}
.car__body {
    position: absolute;
    width: 600px;
    height: 100px;
    background-color: rgb(244, 79, 9);
    top: 80%;
    left: 30%;
    outline: 5px solid rgb(86, 27, 2);
    border-radius: 30% 30% 15% 15%;
}
.car__body::after {
    content: "";
    width: 30px;
    height: 5px;
    background-color:  rgb(86, 27, 2);
    position: absolute;
    left: 50%;
    top: 10%;
}
.car__body::before {
    content: "";
    position: absolute;
    left: 100.5%;
    top: 26%;
    width: 20px;
    height: 60px;
    border-radius: 0% 100% 100% 0% / 98% 48% 52% 2%;
    background-color: rgb(255, 251, 39);
    box-shadow: 0px 0px 46px 21px #ffc400ff;
}
.car-pipe {
    position: absolute;
    bottom: 15%;
    right: 100.5%;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.788);
}
.car-pipe::before {
    content: "";
    position: absolute;
    top: -180%;
    left: 20%;
    background-color: rgb(203, 3, 3);
    box-shadow: -1px 1px 60px 27px #cb0000ff;
    width: 15px;
    height: 35px;
}
.car__roof {
    position: absolute;
    left:15%;
    top: -125%;
    background-color: rgba(233, 227, 227, 0.5);
    outline: 8px solid rgb(86, 27, 2);
    width: 300px;
    height: 120px;
    border-radius: 45% 55% 100% 0% / 100% 100% 0% 0%;
}
.car__roof::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 10px;
    height: 120px;
    background-color:rgb(86, 27, 2);
}
.car__wheel {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -30%;
    background-color: rgb(233, 227, 227);
    border-radius: 50%;
    border: 5px dashed rgb(12, 12, 12);  
}
.car__wheel::after {
    content:"";
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: rgb(12, 12, 12);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.car__wheel--front {
    left: 0;
}
.car__wheel--back {
    right: 0;
}
.car__window {
    position: absolute;
    top: 15%;
    left: 60%;
    border-radius: 0% 100% 100% 0% / 98% 100% 0% 2%;
    width: 100px;
    height: 100px;
    
}
.footer {
    background-color: rgb(207, 156, 111);
    padding: 20px; 
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.25;
}