@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import url("fonts.css");
body {
    font-family: "Roboto", sans-serif;
}
.header {
    background-color: rgb(130, 100, 157);
    padding: 20px;
    margin-bottom: 10px;
}
.header__title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.25;
    margin-bottom: 20px;
}
.header__nav {
    margin: 0 auto;
    padding: 0 15px;
}
.header__list li{
    display: inline-block;
    margin-right: 20px;
    font-weight: 500;
}
.examples {
    background-color: rgb(187, 156, 215);
    margin: 20px 10px;
    border-radius: 5px;
    padding: 10px;

}
.examples div {
    margin-bottom: 10px;
}
.examples__hover {
    color: white;
}
.examples__hover:hover {
    text-decoration: underline;
    color: blue;
}
.examples__hover span:hover {
    color: red;
}
.examples__active:active {
text-decoration: underline;
color: blue;
}
.examples__visited a:first-of-type:visited {
    color:rgb(130, 100, 157)
} 
.examples__visited a:nth-child(even):visited {
    color: rgb(218, 137, 153);
}
.examples__visited a:last-of-type:visited {
 color: rgb(184, 213, 155);

} 
.examples__focus:focus {
    outline: 2px solid rgb(170, 6, 110);
}
.examples__focus-visible {
    outline: 1px solid red;
}
.target-block{
    width: 200px;
    height: 100px;
    background-color: rgb(53, 53, 221);
}
.target-block:target {
    background-color: rgb(244, 75, 182);
}
.examples__position {
    background-color: rgb(152, 115, 246);
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    max-width: 800px;
}
.examples__position p {
    margin-bottom: 10px;
}
.examples__position p:first-child{
    color: blue;
}
.examples__position p:last-of-type {
    text-transform: uppercase;
    color: white;
}
.examples__position p:nth-child(odd){
    text-decoration: underline;
}
.examples__position p:nth-child(even) {
    color:rgb(230, 8, 8)
}
.examples__position:has(span) {
    background-color: rgb(93, 228, 228);
}
.examples__item:first-child:before {
    background: url(../img/instagram.svg) 0 0 no-repeat;
	content: "";
	width: 24px;
	height: 24px;
	margin-right: 10px;
    vertical-align: middle;
}

	.examples__item:first-child::after {
    background: url(../img/star.svg) 0 0 no-repeat;
	content: "";
	width: 20px;
	height: 20px;
	margin-left: 10px;
    vertical-align: middle;
}
.examples__item:last-child:before {
    background: url(../img/calendar.svg) 0 0 no-repeat;
	content: "";
	width: 57px;
	height: 57px;
    vertical-align: middle;
}
.examples__item:last-child::after {
    background: url(../img/indastry.svg) 0 0 no-repeat;
	content: "";
	width: 56px;
	height: 56px;
	margin-right: 10px;
    vertical-align: middle;
}
.examples__item:nth-child(2):before {
    background: url(../img/letter.svg) 0 0 no-repeat;
	content: "";
	width: 27px;
	height: 27px;
	margin-right: 10px;
    vertical-align: middle;
}
.examples__item:nth-child(2)::after {
    background: url(../img/star.svg) 0 0 no-repeat;
	content: "";
	width: 20px;
	height: 20px;
	margin-left: 8px;
    vertical-align: middle;
}
.examples__item:nth-child(3):before {
    background: url(../img/phone.svg) 0 0 no-repeat;
	content: "";
	width: 27px;
	height: 27px;
	margin-right: 10px;
    vertical-align: middle;
}
.examples__item:nth-child(3)::after {
    background: url(../img/star.svg) 0 0 no-repeat;
	content: "";
	width: 20px;
	height: 20px;
	margin-left: 8px;
    vertical-align: middle;
}
.ordered__list {
	counter-reset: list-counter;
}
.ordered{
    margin-left: 10px;
}
.ordered__list li::before {
	counter-increment: list-counter;
	content: counter(list-counter)": ";
	margin-right: 5px;
	color: rgb(47, 0, 128);
}
.learnxpert {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.14px;
    padding-top: 10px;
    margin: 15px 15px;
}
.learnxpert__item {
    vertical-align: middle;
}
.learnxpert__item:not(:last-child){
    margin-bottom: 15px;
}
.learnxpert__item::before {
    content: "";
    background: url("../img/check-green.svg") 0 0 no-repeat;
    width: 32px;
	height: 32px;
    padding-left: 42px;
    line-height: 1.5;
    vertical-align: middle;
}
.learnxpert__item:nth-child(4)::before,
.learnxpert__item:nth-child(5)::before {
    content: "";
    background: url("../img/check-grey.svg") 0 0 no-repeat;
    width: 32px;
	height: 32px;
    padding-left: 42px;
    line-height: 1.5;
    vertical-align: middle;
}

.game__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
}
.game__conteiner {
    background-color: rgb(63, 94, 251);
    background-image: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    margin: 0px auto 20px;
    width: 800px;
    height: 800px;
    border-radius: 10px;
    padding: 10px;
}
.game__item{
   background-color: rgb(67, 67, 201);
    cursor: grab;
}


.game__item:first-child,
.game__item:last-child {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding-top: 16px;
    margin-left: 10px;
    visibility: visible;
}
.game__item:last-child {
    margin-left: 375px;
}
.game__item:first-child:hover,
.game__item:last-child:hover{
    scale: 1.2;
    background-color: rgb(230, 20, 62);
}
.game__item {
    visibility: hidden;
}
.game__item:hover + .game__item,
.game__item:hover {
    visibility: visible;
}
.game__item:nth-child(2) {
    height: 40px;
    width: 20px;
    margin-left: 20px;
}
.game__item:nth-child(3) {
    height: 20px;
    width: 100px;
    margin-left: 20px;
}
.game__item:nth-child(4) {
    height: 150px;
    width: 20px;
    margin-left: 100px;
}
.game__item:nth-child(5) {
    height: 20px;
    width: 150px;
    margin-left: 100px;
}
.game__item:nth-child(6) {
    height: 100px;
    width: 20px;
    margin-left: 230px;
}
.game__item:nth-child(7) {
    height: 20px;
    width: 150px;
    margin-left: 230px;
}
.game__item:nth-child(8) {
    height: 150px;
    width: 20px;
    margin-left: 360px;
}
.game__item:nth-child(9) {
    height: 15px;
    width: 180px;
    margin-left: 360px;
}
.game__item:nth-child(10) {
    height: 120px;
    width: 10px;
    margin-left: 530px;
}
.game__item:nth-child(11) {
    height: 10px;
    width: 150px;
    margin-left: 390px;  
}
.game__item:nth-child(12) {
    height: 60px;
    width: 10px;
    margin-left: 390px;  
}


.footer {
    padding: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.25;
    background-color: rgb(130, 100, 157);

}