@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Lato", sans-serif;

}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    position: sticky;
    padding: 30px 0;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    z-index: 5;
    background-color: rgb(231, 229, 240);
}

.register__head,
.register__content {
    padding: 82px 15px;
}

.register__container {
    max-width: 1392px;
    text-transform: uppercase;
    line-height: 1.25;
}

.register__title {
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin-bottom: 36px;
}

.register__link {
    font-weight: 700;
    font-size: 16px;
    color: #7e7f7c;
    text-align: center;
    transition: all 0.5s;
}

.register__link:hover a {
    text-decoration: underline;
    color: #2f302c;
}

.register__content {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.register__form {
    max-width: 712px;
    height: 496px;
}

.form__title {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 36px;
}

.form__link {
    font-weight: 500;
    font-size: 16px;
    text-transform: none;
    color: #7e7f7c;
    transition: all 0.5s;
}

.form__link:hover span {
    text-decoration: underline;
    color: #2f302c;
    font-weight: 700;
}

.form__content {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.form__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;

}

.form__input:nth-child(3) {
    flex-basis: 712px;
}

.form__input {
    flex-basis: 336px;
    font-size: 16px;
    padding: 12px 0px;
    border-bottom: 1px solid #d4d4d4;
    font-weight: 500;
    color: #2f302c;
}

.form__input:focus {
    outline: none;
}

.form__button {
    max-width: 336px;
    padding: 12px 0;
    text-align: center;
    background-color: #2f302c;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: none;
}

.form__button:hover {
    background-color: #7e7f7c;
}

.banner {
    position: relative;
    width: 600px;
    height: 496px;

}

.banner__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__content {
    height: 100%;
    gap: 24px;
    display: flex;
    flex-basis: 600px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 80px;

}

.banner__lable {
    width: 51px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    background-color: #ce0000;
    color: #fff;
}

.banner__title {
    font-weight: 800;
    font-size: 32px;
}

.footer {
    background-color: rgb(231, 229, 240);
    padding: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.25;
}